<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <style>
        .button-mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">running</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="button-mid">
    <form action="" th:object="${clothes}">
        <div th:text="|날씨에 맞는 옷:*{topFirst},*{topSecond},*{bottomThird},*{bottomFourth}|"></div>
        <button class="btn btn-primary" type="button" th:onclick="|location.href='@{/}'|" >취소</button>
    </form>
</div>
</body>
</html>