<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>weather</title>
    <style>
        /*   가운데 정렬 */
        .button-mid{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
        .button-aperture{
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">clothes</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="button-mid">
    <form action="" th:object="${weather}">
        <div th:text="|강수량 : *{pcp}|"></div>
        <div th:text="|하늘상태 (맑음:1, 구름많음:3, 흐림:4) : *{sky}|"></div>
        <div th:text="|온도 : *{temp}&deg|"></div>
    </form>
</div>
<div class="button-aperture">
    <button class=" btn-primary" th:onclick="|location.href='@{/clothes}'|" type="button">날씨에 맞는 옷 추천</button>
</div>
</body>
</html>