<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" href="../css/bootstrap.min.css" rel="stylesheet">
    <title>home</title>
    <style>

        .button-top{
            width: 600px;
            margin: 250px auto;
        }
    </style>
</head>
<body>
<div class="navbar navbar-dark bg-dark">
    <div class="container-md">
        <a class="navbar-brand" th:onclick="|location.href='@{/}'|">clothes</a>
        <form th:action="@{/logout}" method="post">
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <button class="btn btn-primary" th:onclick="|location.href='login.html'|" type="submit">sign out</button>
            </div>
        </form>
    </div>
</div>
<div class="button-top">
    <button class="w-25 btn btn-primary" th:onclick="|location.href='@{/weather}'|" type="button">날씨</button>
    <button class="w-25 btn btn-primary " th:onclick="|location.href='@{/area}'|" type="button">지역 설정</button>
</div>
</body>
</html>